<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="text">
    {{post_text}}
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} comments</a>
  </div>
</article>